header{
	height: 50px;
	width:100%;
	border-bottom:  1px solid lightgray;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#menu-bar{
	height: 20px;
	width: 20px;
	margin: 20px;
	cursor: pointer;
}
#yt-logo img{
	height: 50px;
	width: 100px;
}
#search-container{
	display: flex;
	margin: 0px;
}
#search-container input{
	border: 1px solid lightgrey;
	height: 30px;
	width:35vw;
	margin: 0px;
	font-family: sans-serif;
	font-size: 16px;
	padding-left: 20px;
}
#search-container button{ 
	height: 34px;
	width: 65px;
	background-color: rgb(239, 239, 239) ;
	border: 1px solid lightgrey;
	cursor: pointer;
}
#search-container button:hover{
	background-color: lightgray;
}
#widgets-container{
	display: flex;
	width:20%;
	justify-content: space-around;
	align-items: center;
}
#widgets-container img{
	height:16px;
	width: 16px;
	cursor: pointer;
}
#user-avtar img{
	height: 35px;
	width: 35px;
	border-radius: 100%;
}
section{
	display: flex;
	justify-content: space-around;
	padding: 20px;
}
#main-content{
	display: flex;
	flex-direction: column;
	width:60%;
	margin-left: 5%;
}

.title h2{
	font-family: sans-serif;
	font-weight: lighter;
}
.like-share-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#views{
	color: gray;
	font-family: sans-serif;
	font-size: 14px;
}
#widgets2-container{
	width:50%;
	display: flex;
	justify-content: space-between;
	align-items: center; 
}
.fa { 
	font-size: 22px;
	color: #616963;
	cursor: pointer;
}
#video-description{
	width:100%;
	border-top: 1px solid gray;
	margin-top: 20px;
	border-bottom: 1px solid gray;
}
#channel-subscribe{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#channel-detail{
	display: flex;
	justify-content: space-between;
	width:25%;
	align-items: center;
	cursor: pointer;
}
#channel-detail img{
	height: 50px;
	width: 50px;
	border-radius: 100%;
}
#channel-detail div h4{
	margin: 0px;
}
#channel-detail div h4 img{
	height: 14px;
	width: 14px;
}
#channel-detail div p{
	margin: 2px;
	color: gray;
	font-size: 13px;
	font-family: sans-serif;
}
#subscribe-btn{
	background-color: #e80c35;
	color: white;
	border: none;
	height: 40px;
	width: 130px;
	font-weight: bold;
	font-family: sans-serif;
	border-radius: 2px;
	cursor: pointer;
}
#description{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 90%;
	margin-left: 10%;
}
#desc{
	writing-mode: horizontal-tb; 
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.6;
	height: 120px;
	overflow: hidden;
}
#show-more-btn{
	color: gray;
	font-family: sans-serif;
	cursor: pointer;
	font-size: 14px;
	font-weight: 550;
	margin-bottom: 20px;
}
#comment-container{
	width:100%;
	display: flex;
	flex-direction: column;
	height:1000px;
}
#count-comments{
	display: flex;
	width:32%;
	justify-content: space-between;
	align-items: center;
}
#count-comments div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#count-comments img{
	height: 15px;
	width: 15px;
	margin-right: 10px;
	cursor: pointer;
}
#count-comments:first-child{
	font-size: 18px;
	font-family: sans-serif;
}
#count-comments div p{
	color: gray;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}
#add-comment{
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
#add-comment img{
	height: 50px;
	width: 50px;
	border-radius: 100%;
}
#add-comment input{
	border: none;
	border-bottom: 1px solid gray;
	width: 90%;
}
.user-comment-container{
	margin: 10px 0px 10px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.user-container{
	display: flex;
}
.user-comment-container div img{
	height:50px;
	width: 50px;
	border-radius: 100%;
}
.user-comment-container img{
	height: 20px;
	width: 20px;
	cursor: pointer;
}
.user-comment{
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	width: 85%;
}
.widgets3-container{
	display: flex;
	justify-content: space-between;
	width: 25%;
	margin-top: 10px;
}
.widgets3-container .fa{
	font-size: 16px;
	cursor: pointer;
}
#suggested-video{
	display: flex;
	flex-direction: column;
	width:30%;
}
.video-details{
	display: flex;
	width: 90%;
	justify-content: space-between;
	cursor: pointer;
	margin-bottom: 3px;
}
.video-details img{
	height: 120px;
	width: 50%;
}
.video-desc{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 5px;
}
.suggested-video-title{
	font-family: sans-serif;
	font-size: 15px;
}
.channel-name{
	color: gray;
}
.vid-tag{
	background-color: lightgray;
	font-family: sans-serif;
	font-size: 14px;
	color: darkgray;
	width: 35px;
	padding: 5px;
}
.video-details div img{
	height: 20px;
	width: 20px;
	margin-top: 10px;
	display: none;
}
.video-details:hover div img{
	display: block;
}